
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*Font font-family: 'Karla', sans-serif;*/

h1,h2,p,button{
    font-family: 'Karla', sans-serif;
}
/*MAIN CONTAINER*/
body{
    background: #F0F0F0;
}

.main-container{
    width: 1140px;    
    margin: 100px auto;   
    box-shadow: 0 1px 30px rgb(216, 210, 210);
}
.join{
    
    background: #fff;
    
    border-radius: 8px 8px 0 0;
    padding: 60px 0 30px 100px;
   
    
}
.join h1{
    
    color:hsl(179, 62%, 43%);
    font-size: 38px;
}

.join h2{
    
    color:hsl(71, 73%, 54%);
    font-size: 28px;
}
.join p{
    color: hsl(218, 22%, 67%);
    font-size: 24px;
    margin-right: 100px;
    font-weight: normal; 
}

/*INFO*/
.info{
    width: 100%;  
    display: flex;
}
.info .sub{
    width: 570px;
    color: hsl(204, 43%, 93%);
    background: hsl(179, 62%, 43%);
    display: block;
    padding-left: 100px;
    padding-top: 60px;
      
}
.sub h1,.why h1{
    font-size: 28px;
}
.sub h2{
    display: flex;
    font-size: 36px;
}
.sub h2 p{
    font-size: 18px;
    color: hsl(217, 46%, 83%);
    margin-top: 10px;
    margin-left: 20px;
}
.sub p{
    font-size: 24px;
}
.info .why{
    background: #4ABEBD ;
    width: 570px;
    color: hsl(204, 43%, 93%);
    display: block;
    padding-left: 100px;
    padding-top: 60px;
}

.sub button{
    width: 360px;
    padding: 20px;
    background: hsl(71, 73%, 54%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    box-shadow: 0 5px 10px grey;
    margin-bottom: 60px;
}
.why ul li{
    list-style: none;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    margin-left: -40px;
    line-height: 29px;
}